:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

matx-navbar-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.matx-navbar-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0px;
  position: relative;
}

.matx-navbar-content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;  
}