@import '@angular/material/theming';

$matx-navbar-color:                                 #512da8 !default;
$matx-navbar-zindex:                                (nth($cdk-z-index-overlay, 1)) !default;
$matx-navbar-height:                                48px !default;
$matx-navbar-background-color:                      $matx-navbar-color !default;
$matx-nav-list-item-link-height:                    36px !default;
$matx-nav-item-color:                               rgba(255, 255, 255, 0.8) !default;
$matx-nav-item-active-background-color:             rgba(255, 255, 255, 0.8) !default;
$matx-nav-item-active-color:                        $matx-navbar-color !default;
$matx-nav-item-expanded-active-background-color:    color(white) !default;
$matx-nav-dropdown-item-active-background:          #f7f7f7 !default;
$matx-nav-collapse-header-active-color:             color(white) !default;
$matx-nav-item-focus-color:                         color(white) !default;
$matx-navbar-toggler-color:                         color(white) !default;
$matx-navbar-box-shadow:                            0 3px 1px -2px rgba(0,0,0,.2),
                                                    0 2px 2px 0 rgba(0,0,0,.14),
                                                    0 1px 5px 0 rgba(0,0,0,.12) !default;
$matx-nav-scrim-background-color:                   rgba(0, 0, 0, .5) !default;
$matx-nav-scrim-zindex:                             $cdk-z-index-overlay !default;

.text-truncate{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}